h3 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pokemonCard {
	background-color: blanchedalmond;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	width: 261px;
	height: 383px;
	gap: 20px;
	border-radius: 15px;
	cursor: pointer;
	position: relative;
}

.pokemonCard__bg {
	background-color: aliceblue;
	width: 245px;
	height: 118px;
	border-radius: 10px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pokemonCard__img {
	position: absolute;
	top: 40px;
	right: 75px;
	width: 100px;
}

.poke__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.poke__body {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.poke__body__item {
	display: flex;
	gap: 5px;
}

.card__footer {
	display: grid;
	margin-bottom: 15px;
}

/* ==========Media Querys========== */

@media screen and (min-width: 768px) {
	.pokemonCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* width: 300px;
		height: 350px; */
		gap: 20px;
	}

	.poke__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
