h3 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pokemonCard {
	background-color: blanchedalmond;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 320px;
	gap: 20px;
}

.pokemonCard__bg {
	background-color: aliceblue;
	width: 260px;
	height: 200px;
}

.poke__card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.poke__card img {
	width: 100px;
}

.poke__body {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.poke__body__item {
	display: flex;
	gap: 5px;
}

.card__footer {
	display: grid;
	margin-bottom: 15px;
}

/* ==========Media Querys========== */

@media screen and (min-width: 768px) {
	.pokemonCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 300px;
		height: 350px;
		gap: 20px;
	}

	.poke__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
