.pokedex__form2 select {
	width: 200px;
	height: 20px;
}

.form__main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* ==========Media Querys========== */

@media screen and (min-width: 768px) {
	.form__main {
		gap: 20px;
	}

	.pokedex__form input {
		width: 250px;
		height: 30px;
	}

	.pokedex__form button {
		height: 30px;
	}

	.pokedex__form2 select {
		width: 250px;
		height: 30px;
	}

	.form__main {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}
