body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h4,
p {
	margin: 0;
}

li {
	margin: 0;
	padding: 0;
}

.stat__card {
}

.stat__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
